body {
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: rgba(5, 67, 130, 10);
    margin-top: 25px;
    margin-bottom: 5px;
}

#start-button {
    font-size: 60px;
    background-color:rgb(5, 67, 130);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 35px;

  }

  .text {
      font-size: 25px; 
  }
  #game-board {
    
     text-align: center;
  }
  #game-board > div {

   height: 300px;
   width: 750px;
  font-size: 300px;
  margin-left: 495px;
  margin-top: 15px;
  padding: 50px;
  background-color: rgb(5, 67, 130);
  color: white;
}
#gamebutton-higher {
  font-size: 60px;
  background-color:rgb(93, 178, 16);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 35px;

}
#gamebutton-lower {
  font-size: 60px;
  background-color:rgb(178, 16, 58);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 35px;

}
#getnumber-button {
  font-size: 60px;
  background-color:rgb(148, 144, 24);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 35px;
}
  