

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background: #2f2f2f;
 
}

h1 {
    font-size: 65px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #40e0d0;
}
#intro {
  text-align: center;
}

h2 {
 color: #40e0d0;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 15px;
}

  .text {
      border-style: solid;
      text-align: center;
      list-style: none;
      border-radius: 25%;
      height: 200px;
      width: 1000px;
      font-size: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: white;
  }    
  
  #intro-list {
    list-style: none;
  }

  #ranges > span {
    margin-left: 60px;
  }

  #game-board {
     text-align: center;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     display: none;
     background: #2f2f2f;
     height: 900px;
  }
 
.play-buttons {
 margin-top: 40px;
 padding: 10px;
 color: white;
 display: flex;
  flex-direction: row;
  justify-content: center;
}
#start-button {
  margin: 5px;
  font-size: 60px;
  background-color: #40e0d0;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#gamebutton-higher {
  margin: 10px;
  font-size: 60px;
  background-color:#00FFFF;
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#gamebutton-lower {
  margin: 10px;
  font-size: 60px;
  background-color: #00FFFF;
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#random-number {
  text-align: center;
  width: 880px;
  height: 300px;
  font-size: 85px;
  margin-top: 40px;
  padding: 10px;
  color: white;
  background: #2f2f2f;
}

#number {
  font-size: 300px;
  color: white;
  margin-left: 300px;
}

#highlower-buttons {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.score-trackers {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
#score-correct-ans {
  color: white;
  font-size: 35px;;
 display: none;
}
#score-wrong-anw {
  color: white;
  font-size: 35px;;
 display: none;
}



#end-game {
  display: none;
	/* basic */
	background-color: #fff;
	margin: 0 auto;
	width:400px;
  height: 250px;
	padding: 30px;
	text-align: center;
	/* border-radius */
	border-radius: 12px;
	color: white;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
	-moz-box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
	box-shadow: rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,0,0,.75) 0 0 70px inset;
	
	background: #7d7e7d;
	background: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
	background: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	background: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
	background: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	background: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
	
	border-top: 1px solid #666;
	overflow: hidden;
}

#end-game h1 {
	text-align:center;
	margin:0;
	font-size:25px;
	letter-spacing:-1px;
	margin-bottom:4px;
	text-shadow: 0 -1px 1px #000, 0 0px 5px rgba(0,0,0,.25);
}

#endgame-text {
	margin: 5px;
  margin-top: 15px;
	color: #ccc;
	font-size:25px;
	text-align:left;
	text-shadow: 0 0px 5px rgba(0,0,0,.25), 0 -1px 1px #000;
  display: flex;
  justify-content: center;
}

#endgame-score {
  text-align: center;
	color: #ccc;
	font-size:25px;
	text-align:left;
	text-shadow: 0 0px 5px rgba(0,0,0,.25), 0 -1px 1px #000;
  margin-top: 10px;
}

.yes {
	background:green;
	display:block;
	padding:15px 35px;
	float:left;
	color:white;
	text-decoration:none;
  margin-top: 25px;
	
	font-weight:bold;
	text-shadow: 0 0 10px #000;
	border-top: 1px solid rgb(200,250,100);
	font-size:20px;
	
	-webkit-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
	-moz-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
	box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(0,50,0,.75) 0 0 40px inset;
	
	border-radius: 12px;
	
	background: #bfd255;
	background: -webkit-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -ms-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -o-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
	background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
}

.no {
	background: red; 
	display: block;
	padding: 15px 35px;
	float: right;
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-top: 1px solid rgb(250,150,100);
	font-weight: bold;
  margin-top: 25px;
	
	-webkit-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
	-moz-box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
	box-shadow: rgba(255,255,255,.3) 0 2px 1px,rgba(0,0,0,.3) 0 -2px 1px, rgba(0,0,0,0.5) 0px 3px 10px, rgba(100,0,0,.75) 0 0 40px inset;
	
	text-shadow: 0 0 10px #000;
	border-radius: 12px;
	
	background: #f3c5bd;
	background: -webkit-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
	background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
	background: -ms-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
	background: -o-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ff6600',GradientType=0 );
	background: linear-gradient(to bottom, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 100%);
}

a:active {
	position:relative;
	top:3px;
}

#ranges-span1 {
  color: white;
  font-size: 15px;
  margin-left: 45px;
}

#ranges-span2 {
  color: white;
  font-size: 15px;
  margin-left: 15px;
}

#ranges-span3 {
  color: white;
 margin-left: 45px;
 font-size: 15px;
}


.radio-btn {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 125px;
  font-size: 25px;
  color: white;
}


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
#winning-video {
  display: none;
  margin-top: 40px;
  width:100%;
  height:100%;
  padding:1.051%;
  background-color:#666;
}
#loosing-video {
  display: none;
  margin-top: 40px;
  width:100%;
  height:100%;
  padding:1.051%;
  background-color:#666;
}