body {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 65px;
    color: rgba(5, 67, 130, 10);
    margin-top: 25px;
    margin-bottom: 5px;
}
#intro {
  text-align: center;
  
}
.radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .text {
      font-size: 25px; 
  }
  #game-board {
     text-align: center;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     display: none;
  }
 
.play-buttons {
 margin-top: 10px;
 padding: 10px;
 color: white;
 display: flex;
  flex-direction: row;
  justify-content: center;
}
#start-button {
  margin: 5px;
  font-size: 60px;
  background-color:rgb(5, 67, 130);
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#gamebutton-higher {
  margin: 5px;
  font-size: 60px;
  background-color:rgb(93, 178, 16);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#gamebutton-lower {
  margin: 5px;
  font-size: 60px;
  background-color:rgb(178, 16, 58);
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
 
}
#random-number {
  width: 880px;
  height: 300px;
 font-size: 300px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(5, 67, 130);
}
#number {
  font-size: 300px;
  color: white;
}
#highlower-buttons {
  display: none;
}